#mainNav {
  //background-color: fade-out($navbar, 0.4);
  background-color: fade-out($navbar, 0.4);
  @include heading-font;
  .navbar-brand {
    color: $yellow;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: fade-out($link-color, 0.2);
        font-weight: 800;
      }
      &.active {
        .nav-link {
          color: $primary;
        }
      }
    }
  }
  @media (min-width: 992px) {
    max-height: 20px;
    .navbar-nav {
      .nav-item {
        .nav-link {
          font-size: 0.9rem;
          &:hover {
            color: fade-out($link-color, 0.6);
          }
        }
        &.active {
          .nav-link:hover {
            color: $primary;
          }
        }
      }
    }
  }
}
