div.rules-forms-heading {
	text-align: center;
}

div.rules-forms-body {
	margin-top: 1rem;

	div.rules-forms-body-block {
		padding-top: .75em;
		padding-bottom: .75rem;

		h4 {
			font-size: 1.25rem;
		}

		p {
			font-size: .85rem;
		}

		address {
			margin-top: .25rem;
			text-align: center;
		}
	}
}