#sponsors-container {

	img.sponsor-img {
		height:130px;
		width:200px;
	}

	img#img-psc {
		height: 79px;
		margin-top: 1.5rem;
	}

	@media (max-width: 760px) {
		img {
			margin-top: 1.5rem;
		}
	}
}