---
title: AMBCS Links
name: about
---


<div id="links-container">
  <div class="page-title-block">
    <h2>Links</h2>
  </div>
  <div class="row back-page-img-container" id="links-top-section">
    <div class="col-md-4 col-sm-12">
      <div id="links-links">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="#clubs">Clubs</a></li>
          <li class="list-group-item"><a href="#teams">Teams</a></li>
          <li class="list-group-item"><a href="#shops">Shops</a></li>
          <li class="list-group-item"><a href="#racing">Racing</a></li>
          <li class="list-group-item"><a href="#trails">Trails</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-8" id="img-home-container">
      <img src="images/ouchita-water-crossing.jpg" class="img-fluid rounded back-page-img" />
    </div>
  </div>
  <div class="row" id="links-section">
    <div class="col-xs-6 col-lg-4 links-type-section" id="clubs">
      <h4>
        Clubs
      </h4>
      <p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="http://www.arkansasbicycleclub.org/" target="_blank">Arkansas Bicycle Club</a></li>
          <li class="list-group-item"><a href="http://www.bostonmountaincyclists.com/" target="_blank">Boston Mountain Cyclists (BMC/Wal-Mart)</a></li>
          <li class="list-group-item"><a href="http://www.team-carve.com/" target="_blank">CARVE Central Arkansas Velo</a></li>
          <li class="list-group-item"><a href="http://www.dorba.org/" target="_blank">Dallas Off-Road Bicycle Association</a></li>
          <li class="list-group-item"><a href="http://www.friendsot.org/" target="_blank">Friends of the Ouachita Trail</a></li>
          <li class="list-group-item"><a href="http://www.fwmba.org/" target="_blank">Fort Worth Mountain Biker Association</a></li>
          <li class="list-group-item"><a href="http://www.gorctrails.com/" target="_blank">Gateway Off Road Cyclist</a></li>
          <li class="list-group-item"><a href="http://www.bikehotsprings.org/" target="_blank">Hot Springs Bicycle Association</a></li>
          <li class="list-group-item"><a href="http://www.christiancycling.com/" target="_blank">International Christian Cycling Club</a></li>
          <li class="list-group-item"><a href="http://www.imba.com/" target="_blank">International Mountain Bike Association</a></li>
          <li class="list-group-item"><a href="http://www.locomtb.com/" target="_blank">Louisiana Off-road Cycling Organization</a></li>
          <li class="list-group-item"><a href="http://www.okearthbike.com/" target="_blank">Oklahoma Earthbike Fellowship</a></li>
          <li class="list-group-item"><a href="http://www.ouachitacycling.org/" target="_blank">Ouachita Cycling Club</a></li>
          <li class="list-group-item"><a href="http://www.ozarkoffroadcyclists.com/" target="_blank">Ozark Off Road Cyclists</a></li>
        </ul>
      </p>
    </div>
    <div class="col-xs-6 col-lg-4 links-type-section" id="teams">
      <h4>
        Teams
      </h4>
      <p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="http://www.arkansascycling.com/" target="_blank">Arkansas Cycling and Fitness</a></li>
          <li class="list-group-item"><a href="http://www.bellandco-mountainbiking.com/" target="_blank">Bell &amp; Company</a></li>
          <li class="list-group-item"><a href="http://www.bostonmountaincyclists.com/" target="_blank">Boston Mountain Cyclists (BMC/Wal-Mart)</a></li>
          <li class="list-group-item"><a href="http://www.team-carve.com/" target="_blank">CARVE Central Arkansas Velo</a></li>
          <li class="list-group-item"><a href="http://www.championcycling.com/" target="_blank">Champion Cycling</a></li>
          <li class="list-group-item"><a href="http://www.mercycycling.com/" target="_blank">Mercy Cycling</a></li>
          <li class="list-group-item"><a href="http://pedalersbash.com/about.html" target="_blank">Pedalers Pub/Garver Team</a></li>
          <li class="list-group-item"><a href="http://www.therideonline.net/" target="_blank">The Ride</a></li>
          <li class="list-group-item"><a href="https://www.mojocycling.com/" target="_blank">Mojo Cycling</a></li>
        </ul>
      </p>
    </div>
    <div class="col-xs-6 col-lg-4 links-type-section" id="shops">
      <h4>
        Shops
      </h4>
      <p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="http://www.arkansascycling.com/" target="_blank">Arkansas Cycling and Fitness</a> (LR/NLR)</li>
          <li class="list-group-item"><a href="http://www.chainwheel.com/" target="_blank">Chainwheel</a> (LR)</li>
          <li class="list-group-item"><a href="http://championcycling.com/" target="_blank">Champion Cycling and Fitness</a> (Fort Smith)</li>
          <li class="list-group-item"><a href="http://www.gppcycling.com/" target="_blank">GPP Cycling</a> (Rogers)</li>
          <li class="list-group-item"><a href="https://www.mojocycling.com/" target="_blank">Mojo Cycling</a> (Bentonville)</li>
          <li class="list-group-item"><a href="http://www.nlr-bicycles.com/" target="_blank">NLR Bicycles</a> (NLR)</li>
          <li class="list-group-item"><a href="http://www.parksidecycle.com/" target="_blank">Parkside Cycle</a> (Hot Springs)</li>
          <li class="list-group-item"><a href="http://www.phattirebikeshop.com/" target="_blank">Phat Tire Bike Shop</a> (Bentonville)</li>
          <li class="list-group-item"><a href="http://www.scottsbikeshop.com/" target="_blank">Scott's Bike Shop</a> (Fort Smith)</li>
          <li class="list-group-item"><a href="http://www.therideonline.net/" target="_blank">The Ride</a> (Conway)</li>
          <li class="list-group-item"><a href="http://www.bicyclespecialists.com/" target="_blank">Bicycle Specialist</a> (Joplin, MO)</li>
          <li class="list-group-item"><a href="http://www.gooutandplay.com/" target="_blank">Lewis and Clark Outfitters</a> (Springdale, Rogers, Fayetteville)</li>
        </ul>
      </p>
    </div>
    <div class="col-xs-6 col-lg-4 links-type-section" id="racing">
      <h4>
        Racing
      </h4>
      <p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="http://www.cyclingarkansas.com/" target="_blank">Arkansas Road Cycling and Racing</a></li>
          <li class="list-group-item"><a href="http://www.bikearkansas.com/" target="_blank">Bike Arkansas Directory</a></li>
          <li class="list-group-item"><a href="http://www.cyclingarkansas.com/" target="_blank">Cycling Arkansas Directory</a></li>
          <li class="list-group-item"><a href="http://www.dltmultisport.com/" target="_blank">DLT Events</a></li>
          <li class="list-group-item"><a href="http://www.usacycling.org/mtb/" target="_blank">National Off-Road Bicycling Association</a></li>
          <li class="list-group-item"><a href="http://www.adventuresprints.com/" target="_blank">Ozark Extreme Adventure Racing</a></li>
          <li class="list-group-item"><a href="http://www.raidtherock.com/" target="_blank">Raid The Rock</a></li>
          <li class="list-group-item"><a href="http://tmbra.org/" target="_blank">Texas Mountain Bike Racing Association</a></li>
          <li class="list-group-item"><a href="http://www.theracingpost.us/" target="_blank">The Racing Post</a></li>
          <li class="list-group-item"><a href="http://www.mtbark.com/" target="_blank">Mountain Bike Arkansas</a></li>
        </ul>
      </p>
    </div>
    <div class="col-xs-6 col-lg-4 links-type-section" id="trails">
      <h4>
        Trails
      </h4>
      <p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="http://www.lercher15trails.com/" target="_blank">Lercher 15 Trails</a></li>
          <li class="list-group-item"><a href="http://www.ouachitaadventures.com/" target="_blank">Ouachita Mountain Bike Adventures</a></li>
          <li class="list-group-item"><a href="http://www.imba.com/" target="_blank">International Mountain Bike Association</a></li>
          <li class="list-group-item"><a href="http://www.usacycling.org/" target="_blank">USA Cycling</a></li>
        </ul>
      </p>
    </div>
    <div class="col-xs-6 col-lg-4 links-type-section" id="trails">
      <h4>
        Contribute!
      </h4>
      <p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="mailto:kelsey.mike@gmail.com?subject=AMBCS - Add a Club" target="_blank">Add a Club</a></li>
          <li class="list-group-item"><a href="mailto:kelsey.mike@gmail.com?subject=AMBCS - Add a Team" target="_blank">Add a Team</a></li>
          <li class="list-group-item"><a href="mailto:kelsey.mike@gmail.com?subject=AMBCS - Add a Shop" target="_blank">Add a Shop</a></li>
          <li class="list-group-item"><a href="mailto:kelsey.mike@gmail.com?subject=AMBCS - Add a Race" target="_blank">Add a Race</a></li>
          <li class="list-group-item"><a href="mailto:kelsey.mike@gmail.com?subject=AMBCS - Add a Trail" target="_blank">Add a Trail</a></li>
        </ul>
      </p>
    </div>
  </div>
</div>
