---
title: AMBCS Rules/Forms
name: about
---

<div id="rules-forms-container">
	<div class="page-title-block">
		<h2>Rules and Forms</h2>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="back-page-img-container">
	      		<img src="images/eureka-lineup.jpg" class="img-fluid rounded back-page-img" />
	    	</div>
			<div class="rules-forms-heading">
				<h3>Rules</h3>
			</div>
			<div class="rules-forms-body">
				<div class="rules-forms-body-block">
					<h4><a href="https://drive.google.com/file/d/1WbzSGpXJtqGJqVpvO_pjXhHua16ELuRP/view?usp=sharing" target="_blank" title="AMBCS Rules">AMBCS Rules</a></h4>
					<p>The AMBCS follows rules set by the USAC.  Be sure you understand the rules before racing.</p>
				</div>
				<div class="rules-forms-body-block">
					<h4><a href="https://drive.google.com/open?id=11TW2LOviRkXB6FKxpjxsKHXqkv-R9UDh" target="_blank" title="AMBCS Rules">Marathon Series Rules</a></h4>
					<p>Be sure you understand the rules before racing.</p>
				</div>
				<div class="rules-forms-body-block">
					<h4><a href="https://drive.google.com/file/d/1PFX6ko2nV0nAZ7_NPbDA6eIfYuC_75Xe/view?usp=sharing" target="_blank" title="AMBCS Rules">Team Challenge Rules</a></h4>
					<p>
						The ultimate goal of the Team Challenge is to encourage and enhance mountain bike racing and riding in Arkansas. By providing friendly competition at the team level, we hope to promote the growth of existing teams and the creation of new ones. For teams to grow and develop, they must seek out new members. Being on a team is not required, but it adds to the fun of competition and allows riders to work together towards the ultimate goal of winning the team cup.
						<br/><br/>
						In addition to the overall Team Challenge Cup, the Future Champions Cup was created to specifically promote mountain biking among children. This competition is for those racers 14 and under. It is more important that ever to encourage life-time sports, such as cycling, to new generations. We hope the Future Champions Cup will provide our energetic and talented juniors with even more reason to ride their bikes.
						<br/><br/>
						<b>Coordinators:</b> Cliff and Christopher <a href="mailto:ambcsteamchallenge@gmail.com">ambcsteamchallenge@gmail.com</a>
					</p>
				</div>
				<div class="rules-forms-body-block">
					<h4><a href="https://drive.google.com/file/d/1aDmPYiIXU5J1Cm6R2IdH5AIrx7yNHfAr/view?usp=sharing" target="_blank" title="AMBCS Rules">Pay Dirt Rules</a></h4>
					<p>The Pay Dirt rules are occasionally updated.  Make sure your are familiar with the Pay Dirt Program in order to take full advantage.  </p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="rules-forms-heading">
				<h3>Forms</h3>
			</div>
			<div class="rules-forms-body">
				<div class="rules-forms-body-block">
					<h4>USA Cycling Rider Forms</h4>
					<ul class="list-group list-group-flush">
					  <li class="list-group-item"><a href="http://www.usacycling.org/news/user/story.php?id=567" target="_blank">USA Cycling Online Forms</a></li>
					  <li class="list-group-item"><a href="https://s3.amazonaws.com/imm-usac-uat-bucket-16e9mh4tuo6kc/documents/USACycling_RuleBook_2018_03.pdf" target="_blank">USA Cycling Rule Book</a></li>
					  <li class="list-group-item"><a href="http://www.usacycling.org/forms/rider_release.pdf" target="_blank">USA Cycling Release Forms</a></li>
					</ul>
				</div>
				<div class="rules-forms-body-block">
					<h4>AMBCS Mail In Forms</h4>
					<ul class="list-group list-group-flush">
					  <li class="list-group-item"><a href="https://drive.google.com/file/d/1D8SKYgudL7a8tjgzj4K2otGaKIyCWVQY/view?usp=sharing" target="_blank">AMBCS Race Plate/Membership</a></li>
					  <li class="list-group-item"><a href="https://drive.google.com/open?id=1jayndAsHmgf25dykc3rYLmGISz9GtwCp" target="_blank">AMBCS Category Change</a></li>
					</ul>
				</div>
				<div class="rules-forms-body-block">
					<h4>Promoter Forms</h4>
					<ul class="list-group list-group-flush">
					  <li class="list-group-item"><a href="https://drive.google.com/file/d/1T3zIalP6-IgAR5ZQiW72x7tx8DAL-0o2/view?usp=sharing" target="_blank">AMBCS Promoter Rules</a></li>
					  <li class="list-group-item"><a href="https://drive.google.com/open?id=159ar_kN8h3IAfw5D5yiyrGkbdfYVUjj0" target="_blank">AMBCS Accounting Form</a></li>
					  <li class="list-group-item"><a href="https://drive.google.com/open?id=10Rc2XfanPs9Sf7qztoB_ZcFXRzK1gnah" target="_blank">USAC / AMBCS Results Form</a></li>
					  <li class="list-group-item"><a href="https://drive.google.com/open?id=1fnO3-EmBRbVAvnWNbYpn0f4SiOOQ5D3o" target="_blank">Results Form Example</a></li>
					</ul>
				</div>
				<div class="rules-forms-body-block">
					<h4>2018 AMBCS Pay Out Schedules</h4>
					<ul class="list-group list-group-flush">
					  <!-- <li class="list-group-item"><a href="hhttp://ambcs.com/Rules_Forms/2015_70_percentage_payout_chart.pdf" target="_blank">CAT 1 Males &amp; Females at 70% Payout</a></li> -->
					  <li class="list-group-item"><a href="https://drive.google.com/open?id=1DQZSN95UMQTqMGyYO11kbUxFcaphB2az" target="_blank">CAT 1 &amp; 2 Combined 80% Payout</a></li>
					  <li class="list-group-item"><a href="https://drive.google.com/open?id=15s2hgyr5CPHL9aSqG9qN0f2jsHzcHEJk" target="_blank">CCAT 1 &amp; 2 Combined 90% Payout</a></li>
					  <li class="list-group-item"><a href="https://drive.google.com/open?id=1mZ4DGJUXzldiPSeDVOUWmQGStCTAZO9J" target="_blank">CAT 1 &amp; 2 Combined 100% Payout</a></li>
					  <li class="list-group-item"><a href="https://drive.google.com/file/d/0B6nMQWv0gil0czRUM2h5MWFpMk0/view?usp=sharing" target="_blank">Male CAT 1 15-49 unified start field</a></li>
					</ul>
				</div>
				<div class="rules-forms-body-block">
					<i>
						Some AMBCS forms are in Adobe PDF format.
						You will need Adobe Reader to view these forms.
						You can download the Adobe Reader by <a href="http://www.adobe.com/" target="_blank">CLICKING HERE</a>.
					</i>
				</div>
				<div class="back-page-img-container">
		      		<img src="images/fast-male-racer.jpg" class="img-fluid rounded back-page-img" />
		    	</div>
			</div>
		</div>
	</div>
</div>