#header {
    background-color: rgba(black, .6);
    padding: 15px 0px;
    height: auto !important;
}

.title {
    color: white;
    display: block !important;
    text-align: center;
}

main {
    padding-top: 5rem;
    width: 100%;
    height: 100vh;
    background: url('../images/backgrounds/bike.jpg') top center;
    //background: url('../images/background-bell-rider.jpg') top center;
    background-size: cover;
    position: relative;
    color: #fff;

    &:before {
        content: "";
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }
}