@import 'colors';

table {

    tr {
        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }

        td {
            color: white;

            a {
                color: $yellow;
    
                &:hover {
                    font-weight: bolder;
                }
            }
        }
    }
}