@import 'includes/common';
@import 'includes/backpages_common';


#results {

    .calendar-block {
        // text-align: center;

        margin-top: 2rem;

        .loader {
            color: $yellow;
            text-align: center;
        }

        #overall {

            ul {
                padding-left: 1rem;

                li {
                    list-style-type: none;
                    margin-top: .5rem;
                }
            }
        }
    }
}