---
title: AMBCS Race Calendar
name: calendar
---

<div id="calendar-container">
	<div class="page-title-block">
		<h2>Calendar</h2>
	</div>
	<div class="calendar-block">
		<h3>Marathon Series</h2>
		<table class="table table-responsive table-sm table-bordered">
			<thead>
				<tr>
					<th scope="col">Race Name</th><th scope="col">Location</th><th scope="col">Date</th><th scope="col">Information</th><th scope="col">Registration</th><th scope="col">Results</th>
				</tr>
			</thead>
			<tbody>
				<tr><th scope="row">The Lovit</th><td>Joplin</td><td>2/17/2018</td><td><a target="_blank" href="https://www.lovitrace.com/lovit-mountain-bike-marathon-race/">Info</a></td><td><a target="_blank" href="https://www.bikereg.com/lovit-race-point-to-point-marathon-enduro">Register</a></td><td><a href="https://www.lovitrace.com/lovit-race-results/" target="_blank">Results</a></td></tr>
				<tr><th scope="row">Ouchita Challenge</th><td>Oden</td><td>3/24-25/2018</td><td><a target="_blank" href="http://www.ouachitachallenge.com/">Info</a></td><td><a target="_blank" href="https://www.bikereg.com/ouachita-challenge">Register</a></td><td>Check Later</td></tr>
				<tr><th scope="row">Syllamo's Revenge</th><td>Mountain View</td><td>4/14/2018</td><td><a target="_blank" href="http://www.syllamosrevenge.com/">Info</a></td><td><a target="_blank" href="https://www.bikereg.com/syllamos-revenge">Register</a></td><td>Check Later</td></tr>
				<tr><th scope="row">Pedaler's Bash Marathon</th><td>Bentonville</td><td>4/21/2018</td><td><a target="_blank" href="http://pedalersbash.com/">Info</a></td><td><a target="_blank" href="https://www.bikereg.com/36553">Register</a></td><td>Check Later</td></tr>
				<tr><th scope="row">USAC Marathan National Champs</th><td>Arkadelphia</td><td>5/6/2018</td><td><a target="_blank" href="http://www.dltmultisport.com/events/off-road-mtb/iron-mtn-mtb.html">Info</a></td><td><a href="https://legacy.usacycling.org/myusac/index.php?pagename=registration&eventid=5&year=2018" target="_blank">Register</a></td><td>Check Later</td></tr>
			</tbody>
		</table>
	</div>
	<div class="calendar-block">
		<h3>XC Series</h2>
		<table class="table table-responsive table-sm table-bordered">
			<thead>
				<tr>
					<th scope="col">Race Name</th><th scope="col">Location</th><th scope="col">Date</th><th scope="col">Information</th><th scope="col">Registration</th><th scope="col">Results</th>
				</tr>
			</thead>
			<tbody>
				<tr><th scope="row">The Ugly Gnome</th><td>Conway</td><td>5/20/2018</td><td><a href="http://www.therideonline.net/theuglygnome" target="_blank">Info</a></td><td><a href="https://www.bikereg.com/wollyhollow" target="_blank">Register</a></td><td></td></tr>
				<tr><th scope="row">Cane Creek</th><td>Star City</td><td>6/3/2018</td><td><a target="_blank" href="https://www.usacycling.org/events/flyer.php?permit=2017-1728">Info</a></td><td>Check Later</td><td></td></tr>
				<tr><th scope="row">Hobbs</th><td>Rogers</td><td>6/10/2018</td><td><a target="_blank" href="https://www.facebook.com/groups/366805566681346/">Info</a></td><td>Check Later</td><td></td></tr>
				<tr><th scope="row">Dawg Days</th><td>Arkadelphia</td><td>6/24/2018</td><td><a target="_blank" href="http://www.dltmultisport.com/events/off-road-mtb/3-legged-dawg-mtb.html">Info</a></td><td><a target="_blank" href="hhttps://www.bikereg.com/dawgdays">Register</a></td><td></td></tr>
				<tr><th scope="row">Fat Tire Festival</th><td>Eureka Springs</td><td>7/13-14/2018</td><td><a target="_blank" href="http://www.fattirefestival.com/">Info</a></td><td><a target="_blank" href="http://www.bikereg.com/eureka-springs-fat-tire-fest">Register</a></td><td></td></tr>
				<tr><th scope="row">NWA Mountain Bike Championship</th><td>Devil's Den Winslow</td><td>9/15/2018</td><td>Check Later</td><td>Check Later</td><td></td></tr>
				<tr><th scope="row">River Valley Rumble</th><td>Fort Smith</td><td>10/13/2018</td><td><a target="_blank" href="http://phattirebikeshop.com/events/river-valley-rumble-2017-pg172.htm">Info</a></td><td><a target="_blank" href="https://www.bikereg.com/bengeren">Register</a></td><td></td></tr>
				<tr><th scope="row">Springhill Classic</th><td>Barling</td><td>10/28/2018</td><td><a target="_blank" href="https://www.bikereg.com/springhill">Info</a></td><td><a target="_blank" href="https://www.bikereg.com/springhill">Register</a></td><td></td></tr>
				<tr><th scope="row">Mount Kessler Jam</th><td>Fayetteville</td><td>11/3-4/2018</td><td><!-- <a target="_blank" href="http://www.visitbentonville.com/bike/events/slaughter-pen-jam/">Info</a> -->Info Coming</td><td><a target="_blank" href="http://www.bikereg.com/slaughtepenjam">Register</a></td><td></td></tr>
				<tr><th scope="row">Atilla the Hun</th><td>Hot Springs</td><td>11/18/2018</td><td><a target="_blank" href="http://www.bikehotsprings.org/">Info</a></td><td>Check Later</td><td></td></tr>
			</tbody>
		</table>
	</div>
</div>