---
title: AMBCS FAQ
name: about
---


<div id="faq-container">
  <div class="page-title-block">
    <h2>Frequently Asked Questions</h2>
  </div>
  <div class="row" id="faq-top-section">
    <div class="col-md-4" id="img-home-container">
      <img src="images/burns-train.jpg" class="img-fluid rounded back-page-img" />
    </div>
    <div class="col-md-8 col-sm-12">
      <div id="faq-links">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="#what-is-ambcs">What is AMBCS?</a></li>
          <li class="list-group-item"><a href="#what-is-usac">What is USA Cycling?</a></li>
          <li class="list-group-item"><a href="#license-type">What is Cross Country (XC) racing and how do I know if I’m ready to race it?</a></li>
          <li class="list-group-item"><a href="#nica">I am a NICA racer. Can I race in the AMBCS Races?</a></li>
          <li class="list-group-item"><a href="#pay-dirt">What is Pay Dirt?</a></li>
          <li class="list-group-item"><a href="#first-race" >How do I sign up for my first race?</a></li>
          <li class="list-group-item"><a href="#categories" >What are Categories and how do I know which one I should race in?</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row" id="faq-answer-section">
    <div class="col-xs-6 col-lg-4 faq-answer" id="what-is-ambcs">
      <h5>
        What is AMBCS?
      </h5>
      <p>
        The Arkansas Mountain Bike Championship Series (AMBCS) was founded in 1996 by mountain bike
        promoters as a way to bring continuity, best practices, and professionalism to the races they were
        promoting.<br/><br/>
        Today, the AMBCS works with promoters to host races all across the state of Arkansas, ranging
        from the Ouachita and Ozark Mountains, to the river valley. The races feature a variety of terrain
        from the flow trails of Northwest Arkansas, to the more technical hand-built trails in Eureka Springs
        and Central Arkansas. There is a terrain for every type of rider on our calendar.<br/><br/>
        All AMBCS races feature USA Cycling recognized classes and categories, as well as an active Junior program.
        Thus, regardless if you are a seasoned veteran in racing or if you are looking for your first race opportunity,
        there is a race for you.
      </p>
    </div>
    <div class="col-xs-6 col-lg-4 faq-answer" id="what-is-usac">
      <h5>
        What is USA Cycling?
      </h5>
      <p>
        USA Cycling (<a href="http://www.usacycling.org" target="_blank">USAC</a>) is the national governing body for mountain biking, road racing,
        BMX, track racing, and cyclocross. It is part of the International Olympic Committee. It does the
        following for individual racers:<br/>
        <ul>
          <li>Provides rules and officials for races.</li>
          <li>Tracks and ranks riders progress at the national, state, and local level.</li>
          <li>Notifies riders of upcoming races and rides in their areas of interest.</li>
          <li>Allows riders to purchase licenses to be tracked and ultimately save money.</li>
        </ul>
      </p>
    </div>
    <div class="col-xs-6 col-lg-4 faq-answer" id="license-type">
      <h5>
        What are a One Day License and an Annual License?
      </h5>
      <p>
        All riders in a USA Cycling race must have either a One Day License or an Annual License. Typically
        One Day licenses cost $10/day racing and an annual costs $75 per calendar year. The annual
        license covers any discipline which races under USA Cycling, such as mountain biking and road
        racing. If you plan on doing 8 or more races of any type in a calendar year, it make financial sense
        to purchase an annual license.
        If you are under the age of 18, you may qualify for junior license rates. The AMBCS does not charge
        for a One Day license for riders with a racing age of 14 and under. (NOTE: Racing Age is defined by
        how old a rider will be at 12/31 of the calendar year they are racing.)<br/><br/>
        USA Cycling also only charges Juniors (racers with a racing age of 18 or less) $40 for an annual
        license. SO if you’re a junior and only racing in the AMBCS, it may not make sense to buy an annual
        license.
      </p>
    </div>
    <div class="col-xs-6 col-lg-4 faq-answer" id="license-xc">
      <h5>
        What is Cross Country (XC) racing and how do I know if I’m ready to race it?
      </h5>
      <p>
        Cross country racing involves riding a mountain bike in either a loop(s) or point-to-point, often
        including climbing and downhill sections, all of which can ridden on bikes with limited travel. Most
        races last between 45 minutes to 2.5 hours depending on your category and skill level.
        One of the great things about mountain bike racing is the cross section of people who race. There
        are the stereotypical, 4% body fat super fit looking people, to the people built like me who are
        shaped more like a barrel than those 4%ers, and everyone in between. One of the best things
        about those people who race, is we are pretty non-judgmental. We’re a brotherhood and
        sisterhood of people who never grew up and like to play in the dirt on bikes, and we range in age
        from 5 years old to over 70 years old.<br/><br/>
        If you can ride your mountain bike at the local trail for an hour and still finish with a smile, you’re
        ready to race. If you like to have fun and push yourself a bit while hanging out with like minded
        individuals, then you are ready to race.
      </p>
    </div>
    <div class="col-xs-6 col-lg-4 faq-answer" id="nica">
      <h5>
        I am a NICA racer. Can I race in the AMBCS Races?
      </h5>
      <p>
        Yes. We’d love to have you race some of our races. It’s a great way to maintain your fitness and
        fine tune some skills before the start of your season.<br/><br/>
        There are numerous teams that would love to have you race for them in the AMBCS series, so that
        you aren’t violating any NICA rules regarding organized school team practices, etc.
      </p>
    </div>
    <div class="col-xs-6 col-lg-4 faq-answer" id="pay-dirt">
      <h5>
        What is Pay Dirt?
      </h5>
      <p>
        Pay Dirt is a program the AMBCS uses to help promote trail stewardship and maintenance. If a
        Racer performs 8 hours of trail maintenance during the race season, he/she can replace their worst
        finish with the points for a first place win at a race.
        <br/><br/>
        Refer to the Pay Dirt section of the website for more info.
      </p>
    </div>
    <div class="col-xs-6 col-lg-4 faq-answer" id="first-race">
      <h5>
        How do I sign up for my first race?
      </h5>
      <p>
        Go to AMBCS.Com and look under the XC Series Calendar and locate the race you would like to
        enter. From there, you have the option of registering on line, or getting information to register the
        morning of the race.<br/><br/>
        If it’s your first race, I’d recommend registering the morning of and getting to the race about an
        hour before hand. When you arrive for your first race, you’ll have to fill out an AMBCS membership
        form and pay $5 to get your number plate, which you use the rest of the season. You’ll also need
        to fill out a license application (either the one-day or annual license), and fill out an event waiver. It
        takes about ten minutes to do all of that.<br/><br/>
        At the next race, you’ll just need to fill out a waiver, get a one day license (if you didn’t buy an
        annual license at a previous race), pay, and get ready to have fun!
      </p>
    </div>
    <div class="col-xs-6 col-lg-4 faq-answer" id="categories">
      <h5>
        What are Categories and how do I know which one I should race in?
      </h5>
      <p>
        <b>Categories</b><br/>
        Categories are groupings based upon fitness and skill level. There are four basic categories
        recognized by USA Cycling, and several “Classes”:<br/>
        <ul>
          <li>
            <b>Category 3 (Cat 3)</b> – This is the beginner level category everyone starts here. Cat 3 riders typically
            race courses for 45minutes to an hour. This is meant for riders who may not have the skill level or
            fitness level to race at a higher level. It’s the largest category in the series
          </li>
          <li>
            <b>Category 2 (Cat 2)</b> – This is the next step up from Cat 3. This meant for riders who have both more
            fitness and skill level. They typically race for 1.5 to 2.0 hours at a faster speed than the Cat 3 riders.
            These riders often race outside the local area and within the region.
          </li>
          <li>
            <b>Category 1 (Cat 1)</b> – This is the highest local level. These riders are one step below a professional
            rider. They typically race for 2.0 to 2.5 hours at a very fast pace. They often race at national level
            events throughout the country.
          </li>
          <li>
            <b>Professional (Pro)</b> – These are the guys who you see on TV when you are lucky enough to catch a
            mountain bike race being broadcast. They are top level, and very fast. They race at the national
            and international level, and as the category name implies, are often paid to ride
          </li>
        </ul>
      </p>
      <p>
        <b>Classes</b><br/>
        Classes are groupings based on items other than skill level. They may include age, weight, type of
        bike being raced, etc.<br/>
        The AMBCS recognizes the following Classes:
        <ul>
          <li><b>Clydesdale</b> – Meant for anyone weighing over 220 pounds.</li>
          <li><b>Single Speed</b> – Anyone who is crazy enough to race a bike with only one gear the same distance category 2 riders race is eligible to race this category.</li>
          <li><b>60+ Category</b> – Right now this is comprised of men who are racing age 60 or older and willing to race the Category 2 distance.</li>
        </ul>
      </p>
    </div>
  </div>
</div>
