---
title: AMBCS Home
name: home
---


<div id="home-container">
  <div class="row">
    <div class="col-md-4" id="img-home-container">
      <img src="images/ambcs-logo.jpg" id="home-img" class="img-fluid rounded" />
    </div>
    <div class="col-md-8 col-sm-12">
      <h2 class="display-6">Welcome</h2>
      <p class="lead" id="welcome-paragraph">
        The Arkansas Mountain Bike Championship Series was formed in the summer of 1996 by several  the promoters to bring added continuity and professionalism to the series. Today, The AMBCS calendar has races all across the state of Arkansas featuring a wide variety of race courses, ranging from the Ouachita and Ozark Mountains to the Arkansas River Valley.  The races promoted on the AMBCS calendars offer mountain bike racers all conceivable types of terrain.
        <br/><br/>
        All AMBCS races feature NORBA recognized classes and categories, as well as an active Junior program. Thus, regardless if you are a seasoned veteran in racing or if you are looking for your first race opportunity, there is a race for you.
      </p>
    </div>
  </div>
</div>
