---
title: AMBCS Pay Dirt Program
name: sponsors
---

<div id="sponsors-container">
	<div class="page-title-block">
		<h2>Pay Dirt Program</h2>
	</div>
	<p class="lead">A Program of the Arkansas Mountain Bike Championship Series, providing bonus points for racers participating in a scheduled Pay Dirt Work Day.</p>
	<div class="row">
		<div class="col-md-7">
		  	<ul class="list-group list-group-flush">
		  		<li class="list-group-item"><a href="http://ambcs.com/PayDirt/2013_Pay_Dirt_Program_rules_rev_1.7.13.pdf" target="_blank">Pay Dirt Rules</a></li>
		  		<li class="list-group-item"><a href="http://ambcs.com/PayDirt/Pay_Dirt_Work_Announcement.pdf" target="_blank">Schedule Pay Dirt Work Day</a></li>
		  		<li class="list-group-item"><a href="http://ambcs.com/PayDirt/Pay_Dirt_Work_Participation_Form.pdf" target="_blank">Pay Dirt Participation</a></li>
			</ul>
		</div>
		<div class="col-md-5 hidden-sm-down">
	    	<a href="http://www.arkansasoutside.com/pound-of-trail-karma/" target="_blank"><img src="images/paydirt.jpg" id="home-img" class="img-fluid rounded" /></a>
	    </div>
	</div>
</div>