---
title: AMBCS Results
name: results
---

<div id="results-container">
	<div class="page-title-block">
		<h2>2017 Results</h2>
		<p>
			<h4><a href="archives.html">Past Seasons' Results</a></h4>
		</p>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="results-heading">
				<h3>Marathon</h3>
			</div>
			<div class="results-body">
				<div class="results-body-block">
					<h4>Race Results</h4>
					<ul class="list-group list-group-flush">
					  <li class="list-group-item"><a href="https://www.lovitrace.com/lovit-race-results/" target="_blank">LOViT</a></li>
					  <li class="list-group-item"><a href="https://www.syllamosrevenge.com/syllamos-revenge-2017-results.html" target="_blank">Syllamo's Revenge</a></li>
					  <li class="list-group-item"><a href="http://www.ouachitachallenge.com/Results/results.html" target="_blank">Ouchita Challenge</a></li>
					  <li class="list-group-item"><a href="http://www.dltmultisport.com/race-results/mtb-results.html" target="_blank">Iron Mt. Man</a></li>
					  <li class="list-group-item"><a href="http://pedalersbash.com/" target="_blank">Pedaler's Bash</a></li>
					</ul>
				</div>
				<div class="results-body-block">
					<h4>Series Standings</h4>
					<ul class="list-group list-group-flush">
					  <li class="list-group-item"><a href="http://ambcs.com/Results/2017_master_points_file_AMMS_5.20__1_.pdf" target="_blank">Standings</a></li>
					</ul>
				</div>
			</div>
			<div>
				<img src="images/fast-female-racer.jpg" class="img-fluid rounded back-page-img" />
			</div>
		</div>
		<div class="col-md-6">
			<div class="results-heading">
				<h3>Cross Country</h3>
			</div>
			<div class="results-body">
				<div class="results-body-block">
					<h4>Race Results</h4>
					<ul class="list-group list-group-flush">
					  <li class="list-group-item"><a href="https://drive.google.com/file/d/0B6nMQWv0gil0amNEMWlsTE9pcWM/view?usp=sharing" target="_blank">Ugly Gnome</a></li>
					  <li class="list-group-item"><a href="https://drive.google.com/file/d/0B6nMQWv0gil0SjJQOGY1dThwR0U/view?usp=sharing" target="_blank">Battle of Townsend Ridge</a></li>
					  <li class="list-group-item"><a href="https://drive.google.com/file/d/0B6nMQWv0gil0em9JVFZSSHFUSmc/view?usp=sharing" target="_blank">Dawg Dayz</a></li>
					  <li class="list-group-item"><a href="https://drive.google.com/file/d/0B6nMQWv0gil0aDdTVXpSckVrZHM/view?usp=sharing" target="_blank">Fat Tire Fest XC</a></li>
					  <li class="list-group-item"><a href="https://drive.google.com/file/d/0B6nMQWv0gil0NjhjQVE5Z0pOcHc/view?usp=sharing" target="_blank">Devil's Den</a></li>
					  <li class="list-group-item"><a href="https://drive.google.com/file/d/0B6nMQWv0gil0ekFjOW80VXRmZ2M/view?usp=sharing" target="_blank">Slaughter Pen Jam</a></li>
					  <li class="list-group-item"><a href="https://drive.google.com/file/d/0B6nMQWv0gil0emZOc1ozdzgtNDQ/view?usp=sharing" target="_blank">Spring Hill Classic</a></li>
					  <li class="list-group-item"><a href="https://drive.google.com/file/d/0B6nMQWv0gil0ak9uN1g4YjMxakU/view?usp=sharing" target="_blank">River Valley Rumble</a></li>
					  <li class="list-group-item"><a href="https://drive.google.com/file/d/1Cal0wcfAt2rNB5hLJmDBdzpSL1oCoVQs/view?usp=sharing" target="_blank">Cane Creek</a></li>
					  <li class="list-group-item"><a href="https://drive.google.com/file/d/1vZ6WUBHuoRqFvh_vc2RqfGeUFDCo4W_g/view?ts=5a1cb687" target="_blank">Atilla the Hun</a></li>
					</ul>
				</div>
				<div class="results-body-block">
					<h4>Series Standings</h4>
					<ul class="list-group list-group-flush">
					  <li class="list-group-item"><a href="https://drive.google.com/file/d/0B6nMQWv0gil0aFpYaVU2cmJLRzg/view?usp=sharing" target="_blank">Cat 1</a></li>
					  <li class="list-group-item"><a href="https://drive.google.com/file/d/0B6nMQWv0gil0VmdLcFNVcWt5MWs/view?usp=sharing" target="_blank">Cat 2</a></li>
					  <li class="list-group-item"><a href="https://drive.google.com/file/d/0B6nMQWv0gil0X1Z6N0Y0UUpwUzA/view?usp=sharing" target="_blank">Cat 3</a></li>
					  <li class="list-group-item"><a href="https://drive.google.com/file/d/0B6nMQWv0gil0SVVQb0MtNzdIRDA/view?usp=sharing" target="_blank">Open</a></li>
					  <li class="list-group-item"><a href="https://drive.google.com/file/d/0B6nMQWv0gil0LTY4eEhuSEdrNVk/view?usp=sharing" target="_blank">Team Challenge</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>